In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\sydne\OneDrive\Documents\GitHub\PIC16A-Project-Fall-22\pokemon.csv")

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [ ]:
class isLeg(): 
    default_features = ["base_egg_steps","base_happiness","base_total","sp_attack"]
    def __init__(self, data, feature = default_features): 
        print("hello world")
        self.data = data
        self.feature = feature
    
    def prep_data(self): 
        #this runs a model that finds the correlation of the features ? 
        #return a correlation matrix 
        
    def clean_data(self):
        #clean the data so no bad entries (no strings)
        #label encoder
        
    def split_train(self): 
        #call train test split and then run? 
    
    def change_features(self,new_feature): 
        self.feature = new_feature

In [4]:
df.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0